body {
    font: 1em 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #EBEBE8;
}
header {
    padding: 10px 0 0 0;
    border-bottom: 2px solid black;
    background-color: #414141;
    color: whitesmoke;
}
header img {
    float: left;
}
header h1 {
    font-size: 400%;
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
header h3 {
    font-size: 125%;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left; 
    width: 25%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    vertical-align: middle;
    background-color: #000;
}

.assignments {
    float: left;
    text-align: center;
    width: 49%;
}

.assignments li {
    float: none;
    background-color: #888;
    color: black;
    width: 100%;
    border: 1px solid white;
    font-size: 2vw;
}

.assignments h2 {
    font-size: 1.8vw;
}

#a1 {
    margin-right: 2%;
}

nav li a {
    display: block;
    color: #FFF;
    padding: 16px 20px;
    text-decoration: none;
    margin: 0;
}

li a:hover {
    background-color: #555;
    color: white;
  }

  #mobile_menu {
	display: none;
}

  @media only screen and (max-width: 800px) {
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
	}
    #mobile_menu li {
        float: none;
        background-color: #888;
    }
	.slicknav_menu {
		background: black !important;
		padding: 3px !important;
		border-bottom: 2px solid black !important;
	}
    nav li {
        width: 70%;
        padding-right: 6%;
        top: 50%;
        display: inline-block;
    }
    nav li a {
        height: 2em;
        width: 100%;
        padding: none;
        margin: none;
    }
    #a1 {
        width: 100%;
    }
    #a2 {
        width: 100%;
    }
    .assignments li {
        font-size: 1.5em;
    }
    .assignments h2 {
        font-size: 1.75em;
    }
    /*
	header {
		font-size: 80%;
	}
    */
}